@font-face {
  font-family: 'dbheavent';
  src: url('./fonts/DBHeaventBd/DBHeavent.ttf') format('truetype');
}


button {
  border-radius: 12px;
  background-color: white;
  padding: 10px;
  margin: 6px;
  
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}
